<div>
<footer>
        <p class="text-center">
            todos los derechos reservados
        </p>
</footer>
</div>
<script src="src/complementos.js"></script>
<script src="handlebars-v2.0.0.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>