<!DOCTYPE html>
<html lang="en">
<head>
    <meta HTTP-EQUIV="Refresh" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
   <title>Cursos</title>
</head>
<body>
    <div class="jumbotron">
          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">                         
                    <h1 class="titulo">{{titulo}}</h1>
                </div>                
            </div>
        </div>
    </div>
 <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-white" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link text-white " href="/">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/creacurso ">CREAR CURSO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/mostrarcurso ">VER CURSOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/inscribestudiante ">INSCRIBIR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/verinscritos ">VER INSCRITOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/listado ">LISTADO DE ESTUDIANTES</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/promedio">CALCULAR PROMEDIO</a>
      </li>
    </ul>
  </div>
</nav>



