{{>header}}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="img/estuno.jpg" class="d-block w-100" alt="curso">
    </div>
    <div class="carousel-item">
      <img src="img/estdos.png" class="d-block w-100" alt="curso">
    </div>
    <div class="carousel-item">
      <img src="img/esttres.jpg" class="d-block w-100" alt="curso">
    </div>
    <div class="carousel-item">
      <img src="img/estcuatro.jpg" class="d-block w-100" alt="curso">
    </div>
  </div>
</div>

{{>footer}}