{{>header}}
<div style="visibility: hidden">{{creacurso id nombre modalidad valor intensidadH descripcion estado}}</div>
<h1 class="text-center">Ha registrado su curso correctamente</h1>
{{{listacurso}}}
{{>footer}}