{{>header}}
<h1 class="text-center">Ha registrado su inscripcion correctamente</h1>
<div style="visibility: hidden">
    {{{inscribestudiante cedula correo nombreEst telefono id_cursoins}}}
</div>

{{>footer}}