{{>header}}

    <h1 class="text-center"> ver cursos como administrador</h1>
    {{{mostrarcurso}}}
    </br>
    <h1 class="text-center">Actualizar estado del curso</h1>
    {{{lista_curso_estado}}}
    </br>
    <h1 class="text-center">Ver cursos como interesado</h1>
    {{{lisCursostargets}}}


{{>footer}}
